*{
  box-sizing: border-box;
}
@media screen and (min-width: 600px){
  
  body {
    display: block;
    height: 100vh;
    display: block;
    flex-direction: column;
    margin: 0;
  }

  header{
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #main {
    display: grid;
    grid-auto-rows: 20%;
    grid-template-columns: repeat(2, 1fr);
    height: 82vh;
  }

  #menu{
    display: flex;
    justify-content: space-between;
    gap: 3em;
  }
  #menu a{
    text-decoration: none;
    color: #3e4348;
  }

  #menu a:hover{
    color: #4cc9f0;
  }

  #top{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  #horizontal{
    grid-row-start: 3;
    grid-row-end: 5;
    z-index: 1;
    grid-column-start: 1;
    grid-column-end:3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20%;
    padding-right: 20%;
    column-gap: 15em;
    
    
  }

  #bottom{
    grid-row-start:4;
    grid-row-end:6;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #article{
    padding: 1em;
    text-align: justify;
  }

  #chef{
    max-width: 30%;
  }

  #pancake{
    max-width: 30%;
  }

  #touch_menu{
    display: none;
  }

  


}

@media screen and (max-width: 600px){
 
  body {
    display: block;
    height: 100%;
    flex-direction: column;
    margin: 0;
  }

  header{
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
    padding: 1em;
    
  }

  footer{
    height:10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header #menu{
    display: none;
  }

  #touch_menu{
    width: 50px;
  }

  #main {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-auto-columns: 50%;
    height: 82%;
  }
  
  #top{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  #horizontal{
    grid-row-start: 3;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    z-index: 1;
    grid-auto-rows: 50%;
    padding: 0em 2em;
    padding-bottom: 2em;
    
    
  }

  #bottom{
    grid-row-start:4;
    grid-row-end:8;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #article{
    display: block;
    margin-left: 15%;
    padding: 1em;
    }
  #chef{
    max-width: 50%;
  }

  #pancake{
    max-width: 70%;
  }
  
}

#article{
  background: #4cc9f0
}

#article button{
  margin-top: 1em;
  padding: 1em;
  background: transparent;
}

#top{
  background: #dee2e6;
}

footer{
  background: #6c757d;
}

#logo{
  width: 100px;

}

img{
    max-width:100%
}





