*{
    box-sizing: border-box;
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
  #main {
    display: flex;
    flex: 1;
    flex-direction: column;

  }
  #top{
    display: flex;
    flex: 6;
  }

  #bottom{
    display: flex;
    flex: 4;
    
  }
 
  header, footer {
    background: yellowgreen;
    
  }

 footer {
    background: rgb(69, 74, 59);
    
  }
  header, footer, center {
    padding: 1em;
  }

  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  footer{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #top{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  #article{
    background: cyan;
  }



#horizontal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 25%;
  padding-right: 25%;
  gap: 20em;
  
}

#chef{
  display: flex;
  background: yellow;
}

#pancake{
  display: flex;
  width: 400px;
  height: 300px;

}

#main img{
  max-width:100%
}

